.default,
.narrow {
  width: 100%;
  margin: 0 auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

.default {
  max-width: var(--container-max);
}

.narrow {
  max-width: var(--container-narrow);
}

@media (min-width: 768px) {
  .default,
  .narrow {
    padding-left: var(--space-4);
    padding-right: var(--space-4);
  }
}
